body {
    color: #123356;
    font-size: 14px;
}
.portfolio {
    color: #1290FF;
}
h2 {
    font-size: 1.4em;
    font-family: 'Kumlien SC','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 3em;
}
hr {
    border-top: 1px solid lightgray
}
#workExperience {
    display: block;
    background-color: lightgray;
    border: solid 3px darkblue;
}
#headerBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
  }
  
.menu {
    float: left;
  }
  
.menuItem {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menuItem:hover {
    background-color: #111;
  }